.container {
    max-width: 1284px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  
    @media (max-width: 1023px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    @media (max-width: 767px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  