:root {
    --black: #000;
    --white: #fff;
    --grey: #5F5F5F;
    --greenyellow: #A6FF02;
    --light-gray: #CDCDCD;
    --main-background: #0C0C11;
    --main-color: #161616;
    --error: #DD5E5E;
    --succes: #6DB95A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    &>div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        background-color: var(--black);
    }
}

ul {
    list-style: none;
}

.base-layout__main {
    flex: 1;
}